Repository kubernetes/release, pull requests merged in 2019-09, with the labels that each got.

#870 Trim leading and trailing spaces from note
  pkg/notes/notes.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#828 Add rev-parse feature for new CLI parameters `start-rev` and `end-rev`
  WORKSPACE
  cmd/release-notes/BUILD.bazel
  cmd/release-notes/main.go
  go.mod
  go.sum
  pkg/notes/BUILD.bazel
  pkg/notes/git.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#871 Enhance regular expression for NONE release note variations
  pkg/notes/notes.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#872 Set GOPROXY and GOSUMDB ...
  gcb/stage.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#860 Fix paths in shaNNNsums files
  lib/releaselib.sh
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS

#874 Do not generate checksums for SUM{256,512}SUMS in the checksum files
  lib/releaselib.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, sig/release, size/XS

#836 Kubernetes Release Notes Generator: Add log level filtering, additional exclusion filter cases and updated README
  cmd/release-notes/README.md
  cmd/release-notes/main.go
  pkg/notes/notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/release, size/M

#845 Introduce testgridshot
  README.md
  testgridshot
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, sig/release, size/L

#881 Quarterly OWNERS update
  OWNERS
  OWNERS_ALIASES
  build/OWNERS
  build/debs/OWNERS
  build/rpms/OWNERS
  cmd/release-notes/OWNERS
  images/OWNERS
  pkg/notes/OWNERS
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#875 Preserve markdown order when generating release notes
  cmd/release-notes/main.go
  pkg/notes/document.go
  pkg/notes/notes.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#879 Allow specifying a repo-path for local clones
  cmd/release-notes/main.go
  pkg/notes/git.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L
