Repository kubernetes/release, pull requests merged in 2019-12, with the labels that each got.

#950 OWNERS: Release Managers updates
  OWNERS_ALIASES
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-longterm, sig/release, size/XS

#953 Remove automatic word split from command
  pkg/command/command.go
  pkg/command/command_test.go
  pkg/git/git.go
  pkg/git/git_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#952 Fix boilerplate verification
  WORKSPACE
  build/debs/Dockerfile
  build/debs/build.go
  build/debs/build_test.go
  build/debs/go.sum
  build/rpms/Dockerfile
  cmd/blocking-testgrid-tests/main.go
  cmd/release-notes/main.go
  hack/test-go.sh
  hack/test-sh.sh
  images/k8s-cloud-builder/Dockerfile
  lib/common.sh
  lib/gitlib.sh
  lib/gitlib_test.sh
  lib/releaselib.sh
  lib/releaselib_test.sh
  pkg/command/command_test.go
  pkg/notes/document.go
  pkg/notes/document_test.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
  push-build.sh
Labels: approved, area/licensing, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/release, size/L

#955 Add support for command pipes
  pkg/command/command.go
  pkg/command/command_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#962 Enable errcheck linter and fix lints
  .errcheck-excludes
  .golangci.yml
  cmd/krel/cmd/ff.go
  cmd/release-notes/main.go
  pkg/command/command_test.go
  pkg/git/git.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#945 Cleanup Dockerfile for k8s-cloud-builder
  images/k8s-cloud-builder/Dockerfile
  images/k8s-cloud-builder/test.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, sig/release, size/L

#946 Cleanup logging by using logrus
  .errcheck-excludes
  .golangci.yml
  cmd/release-notes/BUILD.bazel
  cmd/release-notes/main.go
  go.mod
  go.sum
  pkg/notes/BUILD.bazel
  pkg/notes/notes.go
  pkg/notes/notes_test.go
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#941 push build: initial migration to krel
  BUILD.bazel
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/push.go
  go.mod
  pkg/release/BUILD.bazel
  pkg/release/release.go
  pkg/util/common.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/release, size/L

#970 Fix release notes parsing for blocks ending with 's'
  pkg/notes/notes.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#940 Add binary downloads table to release notes
  cmd/release-notes/main.go
  pkg/notes/document.go
  pkg/notes/document_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#966 Replace log package with logrus
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/ff.go
  cmd/krel/cmd/root.go
  cmd/release-notes/main.go
  pkg/command/BUILD.bazel
  pkg/command/command.go
  pkg/git/BUILD.bazel
  pkg/git/git.go
  pkg/util/BUILD.bazel
  pkg/util/common.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#972 krelpush: logging and tests
  cmd/krel/cmd/push.go
  go.mod
  go.sum
  pkg/release/BUILD.bazel
  pkg/release/release.go
  pkg/release/release_test.go
  pkg/util/BUILD.bazel
  pkg/util/common.go
  pkg/util/common_test.go
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XL

#963 Fix unit tests for macOS in command package
  pkg/command/command_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#976 Add git merge conflict original files to .gitignore
  .gitignore
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#969 Use cobra for release notes command line parser
  cmd/release-notes/BUILD.bazel
  cmd/release-notes/README.md
  cmd/release-notes/main.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#973 Refactor relnotes tools
  cmd/release-notes/main.go
  go.mod
  go.sum
  internal/tools.go
  pkg/notes/BUILD.bazel
  pkg/notes/client.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
  pkg/notes/notesfakes/BUILD.bazel
  pkg/notes/notesfakes/fake_client.go
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, sig/release, size/XXL

#983 Remove unused `changelog-update` script
  README.md
  changelog-update
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#967 release-notify: add --print option to print the location of the announcement file
  lib/releaselib.sh
  release-notify
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/release, size/S, tide/merge-method-squash

#971 order the import according to the convention
  cmd/krel/cmd/ff.go
  pkg/git/git.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, sig/release, size/S

#975 Add support for patch-to-patch discovery mode
  cmd/release-notes/main.go
  pkg/git/git.go
  pkg/git/git_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#985 OWNERS: Add approvers and reviewers for krel
  OWNERS_ALIASES
  cmd/krel/OWNERS
  pkg/OWNERS
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#986 Move environment variable functions into utils package
  cmd/release-notes/BUILD.bazel
  cmd/release-notes/main.go
  pkg/util/BUILD.bazel
  pkg/util/env.go
  pkg/util/env_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#988 Add coverage to go-test target
  .gitignore
  hack/test-go.sh
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#984 [relnotes] Add simple retry handler for AbuseRateLimit errors
  pkg/notes/BUILD.bazel
  pkg/notes/client.go
  pkg/notes/internal/BUILD.bazel
  pkg/notes/internal/retry.go
  pkg/notes/internal/retry_test.go
  pkg/notes/notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/release, size/L

#989 Deflake command tests
  pkg/command/command.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#977 Refactor relnotes tool
  cmd/release-notes/README.md
  cmd/release-notes/main.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/release, size/L

#982 Define `krel changelog` subcommand scope
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/changelog.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#987 Move release notes options into notes package
  cmd/release-notes/BUILD.bazel
  cmd/release-notes/main.go
  pkg/notes/BUILD.bazel
  pkg/notes/options.go
  pkg/notes/options_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XL

#990 fix typos
  pkg/notes/document.go
  pkg/notes/notes_gatherer_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/XS

#991 Add first part of changelog command implementation
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/root.go
  cmd/release-notes/main.go
  pkg/git/git.go
  pkg/notes/options.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#994 Fix clone/update behavior for repositories
  pkg/git/git.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#978 Use string builder to avoid copies on notes rendering
  cmd/release-notes/main.go
  pkg/notes/document.go
  pkg/notes/document_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#981 [testgridshot] Print comment, even if no failing dashboards where found
  testgridshot
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/release, size/M

#993 Set start and end revisions on discovery and add unit tests
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/ff.go
  cmd/release-notes/BUILD.bazel
  cmd/release-notes/main.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/notes/options.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#949 Send patch release announcement mails via GCB
  announce-patch
  gcb/patch-announce/cloudbuild.yaml
  patch-release/announce
  patch-release/mail-head.md.tmpl
  patch-release/mail-style.css
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#995 Change octal literal usage to be prefixed with 0o
  build/debs/build.go
  cmd/release-notes/main.go
  pkg/git/git_test.go
  pkg/notes/document_test.go
  pkg/notes/options_test.go
  pkg/release/release_test.go
  pkg/util/common_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M
