Repository kubernetes/release, pull requests merged in 2020-05, with the labels that each got.

#1256 Switch to bazel 2.2.0 in CI
  images/releng-ci-bazel/Dockerfile
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1180 Enhance testing for `document` package.
  cmd/krel/cmd/changelog_data_test.go
  go.mod
  go.sum
  pkg/notes/document/BUILD.bazel
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/document/template.go
  pkg/notes/document/testdata/document.md.golden
  pkg/notes/document/testdata/document_without_downloads.md.golden
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/important-soon, release-note-none, sig/release, size/XL

#1259 Env var for saving spec files to help with local/testing scenarios
  pkg/kubepkg/kubepkg.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note-none, sig/release, size/S

#1258 kube-cross: Support building against multiple Go versions in parallel
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  images/build/cross/Dockerfile
  images/build/cross/Makefile
  images/build/cross/VERSION
  images/build/cross/cloudbuild.yaml
  images/build/cross/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1260 cmd/kubepkg: Better way to override local directory for artifacts
  cmd/kubepkg/templates/latest/deb/kubeadm/debian/rules
  cmd/kubepkg/templates/latest/deb/kubectl/debian/rules
  cmd/kubepkg/templates/latest/deb/kubelet/debian/rules
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, sig/release, size/S

#1261 Apply some small cleanups to kubepkg
  pkg/kubepkg/kubepkg.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1262 Use internal log package for kubepkg
  cmd/kubepkg/cmd/BUILD.bazel
  cmd/kubepkg/cmd/root.go
  pkg/kubepkg/kubepkg.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/S

#1265 Fix error handling in buildconfig run
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/template.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/M

#1264 kube-cross: Build v1.14.2-3 and v1.13.9-4 images
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
  images/build/cross/variants.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, size/M

#1263 Fix code duplication in kubepkg commands
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/root.go
  cmd/kubepkg/cmd/rpms.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/M

#1266 Use go template for krel changelog
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_data_test.go
  pkg/notes/document/document.go
  pkg/notes/options/options.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1254 Finish repo state check in gcbmgr
  pkg/git/git.go
  pkg/git/git_integration_test.go
  pkg/release/releasefakes/fake_repository.go
  pkg/release/repository.go
  pkg/release/repository_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1126 Improve krel release-notes local k/sig-release repository handling
  cmd/krel/cmd/release_notes.go
  docs/krel/release-notes.md
  pkg/git/git.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/M

#1268 Add CreatePullRequest() to github pkg and clients
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/record.go
  pkg/github/replay.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1234 gcbmgr: add list job documentation
  docs/krel/gcbmgr.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, needs-priority, release-note-none, sig/release, size/S

#1267 krel/release-notes usage notes learned from shadow coaching session
  docs/krel/release-notes.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/release, size/S

#1269 Use markdown template rendering for krel release-notes
  cmd/krel/cmd/release_notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/M

#1270 Make `MatchesExcludeFilter` and `MatchesIncludeFilter` public
  pkg/notes/notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1106 [krel] anago: Initial commit
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/anago.go
  pkg/release/BUILD.bazel
  pkg/release/anago.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XL

#1271 Remove deprecated FormatSpecMarkdown from notes options
  cmd/krel/cmd/changelog.go
  cmd/release-notes/README.md
  cmd/release-notes/main.go
  pkg/notes/document/document.go
  pkg/notes/options/options.go
  pkg/notes/options/options_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/api-change, lgtm, needs-priority, release-note, sig/release, size/S

#1273 Remove unnecessary double check in releaselib.sh
  lib/releaselib.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1236 dependencies/logrus: update logrus to v1.6.0
  go.mod
  go.sum
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, needs-priority, release-note, sig/release, size/S

#1272 Add `document.GatherReleaseNotesDocument` and `notes.GatherReleaseNotes` API
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/main.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/api-change, lgtm, needs-priority, release-note, sig/release, size/L

#1274 Remove document.RenderMarkdown function
  pkg/notes/document/document.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/api-change, lgtm, needs-priority, release-note, sig/release, size/M

#1275 pkg/gcp: Swap GCloudExecutable and TarExecutable const values
  anago
  pkg/gcp/gcp.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/release, size/XS

#1277 Fix setting start-rev in krel changelog
  cmd/krel/cmd/changelog.go
  pkg/notes/options/options.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/XS

#1279 Revert k8s-cloud-builder changes in kube-cross and enable variant building
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  images/build/cross/Dockerfile
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/Dockerfile
  images/k8s-cloud-builder/cloudbuild.yaml
  images/k8s-cloud-builder/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/critical-urgent, release-note, sig/release, size/L

#1280 k8s-cloud-builder: Build images on kube-cross v1.14.2-4 and v1.13.9-5
  images/k8s-cloud-builder/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/critical-urgent, release-note, sig/release, size/XS

#1283 Switch to go-git/v5
  go.mod
  go.sum
  pkg/git/BUILD.bazel
  pkg/git/git.go
  pkg/git/git_integration_test.go
  pkg/git/gitfakes/BUILD.bazel
  pkg/git/gitfakes/fake_repository.go
  pkg/git/gitfakes/fake_worktree.go
  pkg/notes/options/BUILD.bazel
  pkg/notes/options/options_test.go
  pkg/release/BUILD.bazel
  pkg/release/repository_test.go
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, kind/api-change, lgtm, needs-priority, release-note, sig/release, size/L

#1284 Verify non dirty or mismatched k/release checkouts
  pkg/git/BUILD.bazel
  pkg/git/git.go
  pkg/git/git_integration_test.go
  pkg/git/git_test.go
  pkg/git/gitfakes/fake_worktree.go
  pkg/release/releasefakes/fake_repository.go
  pkg/release/repository.go
  pkg/release/repository_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1282 Make kubepkg tests independent from the internet
  cmd/kubepkg/cmd/debs.go
  cmd/kubepkg/cmd/root.go
  cmd/kubepkg/cmd/rpms.go
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/api-change, kind/failing-test, lgtm, needs-priority, release-note, sig/release, size/L

#1253 Add dependency change possiblity to release notes
  go.mod
  go.sum
  pkg/notes/BUILD.bazel
  pkg/notes/dependencies.go
  pkg/notes/dependencies_test.go
  pkg/notes/notesfakes/BUILD.bazel
  pkg/notes/notesfakes/fake_mo_diff.go
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1286 Allow gcbmgr and anago to build betas from master
  anago
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  lib/gitlib.sh
  lib/releaselib.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/api-change, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1289 Validate --type flag on anago
  anago
  lib/releaselib.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/S

#1287 Add GetRepository() to github pkg and RepoIsForkOf() to verify inheritance
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/record.go
  pkg/github/replay.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1288 lib/release: Fix version label logic for release cuts
  lib/releaselib.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, priority/critical-urgent, release-note, sig/release, size/M

#1291 Add dependency changes to generated changelog
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_data_test.go
  cmd/krel/cmd/changelog_test.go
  go.mod
  go.sum
  pkg/notes/dependencies.go
  pkg/notes/dependencies_test.go
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1292 Add dependency report option to release-notes tool
  cmd/release-notes/README.md
  cmd/release-notes/main.go
  pkg/notes/dependencies.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1293 [krel] gcbmgr: Add validation method for GcbmgrOptions
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/L

#1294 kube-cross: Build v1.14.3-1 image
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Labels: approved, area/dependency, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, size/XS

#1296 Update go-modiff to v1.2.0
  go.mod
  go.sum
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, size/S

#1297 Normalize repository paths starting with ~/
  pkg/git/git.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/XS

#1299 k8s-cloud-builder: Build cross1.14 variant on kube-cross:v1.14.3-1
  images/k8s-cloud-builder/variants.yaml
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XS

#1298 Add dependency report option to krel release-notes
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/root.go
  docs/krel/changelog.md
  docs/krel/release-notes.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1290 Enhance kubepkg testing
  pkg/kubepkg/BUILD.bazel
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkg_test.go
  pkg/kubepkg/kubepkgfakes/BUILD.bazel
  pkg/kubepkg/kubepkgfakes/fake_impl.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XL

#1302 anago: push git branch verbose
  anago
Labels: approved, area/release-eng, cncf-cla: yes, kind/regression, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1300 Fix import group order in kubepkg.go
  pkg/kubepkg/kubepkg.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1305 Fix default --dependencies flag value in documentation
  cmd/release-notes/README.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note, sig/release, size/XS

#1304 Pull Request automation in krel release-notes
  cmd/krel/cmd/release_notes.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, needs-priority, release-note, sig/release, size/L

#1301 dependencies: Update several dependencies
  go.mod
  go.sum
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, release-note, sig/release, size/M

#1306 Fix markdown whitespace issues in release notes template
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_data_test.go
  cmd/krel/cmd/release_notes.go
  pkg/notes/document/template.go
  pkg/notes/document/testdata/document.md.golden
  pkg/notes/document/testdata/document_without_downloads.md.golden
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/L

#1307 Improve algorithm to determine previous tag and branch in relnotes
  cmd/krel/cmd/release_notes.go
  pkg/git/git.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, needs-priority, release-note, sig/release, size/M

#1310 Release Notes: Check if branch exists before creating a PR
  cmd/krel/cmd/release_notes.go
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/record.go
  pkg/github/replay.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1314 push-build: look for version in bazel-bin
  push-build.sh
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, priority/critical-urgent, release-note-none, sig/release, size/S

#1250 kubelet.service: Wait for network-online.target
  debian/bionic/kubelet/lib/systemd/system/kubelet.service
  rpm/kubelet.service
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, release-note, sig/node, sig/release, size/XS

#1318 Add --print-only/-p option to krel announce
  cmd/krel/cmd/announce.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1317 Switch to plain logrus for pkg/mail
  pkg/mail/BUILD.bazel
  pkg/mail/mail.go
  pkg/patch/announce.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/S

#1316 Infer default sender for krel announce
  cmd/krel/cmd/announce.go
  pkg/mail/BUILD.bazel
  pkg/mail/mail.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1319 Add mail.SetDefaultSender() unit tests
  cmd/krel/cmd/announce.go
  pkg/mail/mail.go
  pkg/mail/mail_test.go
  pkg/mail/mailfakes/BUILD.bazel
  pkg/mail/mailfakes/fake_apiclient.go
  pkg/mail/mailfakes/fake_send_client.go
  pkg/patch/announce.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/api-change, lgtm, needs-priority, release-note, sig/release, size/L

#1315 Remove krel patch-announce
  BUILD.bazel
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/patch-announce.go
  cmd/patch-announce/BUILD.bazel
  cmd/patch-announce/main.go
  docs/krel/README.md
  docs/krel/patch-announce.md
  gcb/patch-announce/cloudbuild.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/deprecation, lgtm, needs-priority, release-note, sig/release, size/L

#1321 kubepkg: Use k8s-artifacts-cri-tools GCS bucket as source for CRI tools
  cmd/kubepkg/templates/latest/deb/cri-tools/debian/rules
  cmd/kubepkg/templates/latest/rpm/cri-tools/cri-tools.spec
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/XS

#1322 Use k8s-artifacts-cri-tools GCS bucket as source for CRI tools
  debian/bionic/cri-tools/debian/rules
  rpm/kubelet.spec
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/XS

#1324 gh2gcs: clean temporary folder if output-dir is not set
  cmd/gh2gcs/cmd/root.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/XS

#1323 Remove release-notify script
  anago
  lib/releaselib.sh
  release-notify
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/L

#1325 Remove relnotes script
  BUILD.bazel
  find_green_build
  go.mod
  go.sum
  lib/releaselib.sh
  pkg/announce/BUILD.bazel
  pkg/announce/announce.go
  pkg/announce/options.go
  pkg/patch/BUILD.bazel
  pkg/patch/announce.go
  pkg/patch/announce_templates.go
  pkg/patch/announce_test.go
  pkg/patch/internal/BUILD.bazel
  pkg/patch/internal/exec.go
  pkg/patch/internal/formatter.go
  pkg/patch/internal/formatter_test.go
  pkg/patch/internal/internalfakes/fake_cmd.go
  pkg/patch/internal/internalfakes/fake_formatter.go
  pkg/patch/internal/internalfakes/fake_mail_sender.go
  pkg/patch/internal/internalfakes/fake_release_noter.go
  pkg/patch/internal/internalfakes/fake_workspace.go
  pkg/patch/internal/release_notes.go
  pkg/patch/internal/release_notes_test.go
  pkg/patch/internal/workspace.go
  pkg/patch/internal/workspace_test.go
  relnotes
  repos.bzl
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XXL

#1329 kubepkg: Use StringSliceVar for flags
  cmd/kubepkg/README.md
  cmd/kubepkg/cmd/root.go
  pkg/kubepkg/options/options.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/M

#1309 Bundle CNI plugins (v0.8.6) in kubelet deb/rpm packages
  debian/bionic/kubelet/debian/control
  debian/bionic/kubelet/debian/kubelet.install
  debian/bionic/kubelet/debian/rules
  debian/bionic/kubernetes-cni/.gitignore
  debian/bionic/kubernetes-cni/debian/changelog
  debian/bionic/kubernetes-cni/debian/compat
  debian/bionic/kubernetes-cni/debian/control
  debian/bionic/kubernetes-cni/debian/copyright
  debian/bionic/kubernetes-cni/debian/kubernetes-cni.install
  debian/bionic/kubernetes-cni/debian/rules
  debian/build.go
  debian/build_test.go
  rpm/kubelet.spec
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/network, sig/release, size/L
