Repository kubernetes/release, pull requests merged in 2020-10, with the labels that each got.

#1597 Add and integrate `krel anago push`
  anago
  cmd/krel/cmd/anago/anago.go
  cmd/krel/cmd/anago/push.go
  pkg/release/push.go
  pkg/release/release.go
  pkg/release/release_test.go
  pkg/util/common.go
  pkg/util/common_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1604 Copy stdout and stderr in parallel to sync output
  pkg/command/command.go
  pkg/command/command_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/M

#1603 Push gcs-stage and release-images via `krel anago push`
  anago
  cmd/krel/cmd/anago/push.go
  pkg/gcp/gcs/gcs.go
  pkg/release/push.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1605 Release Notes: Ignore comments-only YAML and fix flow exit
  cmd/krel/cmd/release_notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, size/M

#1607 Correctly commit relnotes with only one file changed
  cmd/krel/cmd/release_notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1606 Add container images push to `krel anago push`
  anago
  cmd/krel/cmd/anago/push.go
  lib/releaselib.sh
  pkg/release/images.go
  pkg/release/push.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1608 Remove flaking command sync unit tests
  pkg/command/command_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/release, size/M

#1610 Increase timeout for integration tests
  hack/test-go-integration.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1609 Add release publish support to `krel anago push`
  anago
  cmd/krel/cmd/anago/push.go
  pkg/gcp/gcs/gcs.go
  pkg/release/publish.go
  pkg/release/push.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note-none, sig/release, size/L

#1573 Generate release notes from previous minor version
  cmd/krel/cmd/release_notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/M

#1611 Remove unused release::kubecross_version bash function
  lib/releaselib.sh
  lib/releaselib_test.sh
  pkg/release/release.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/M

#1612 Refactor unsued releaselib bash into push-build.sh
  lib/releaselib.sh
  lib/releaselib_test.sh
  push-build.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XXL

#1614 Check release buckets in krel anago push
  anago
  cmd/krel/cmd/anago/push.go
  lib/releaselib.sh
  pkg/release/push.go
  push-build.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/L

#1616 Remove unused bash functions from gitlib.sh
  lib/gitlib.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/M

#1617 Fix output dir for kubernetes tarball on krel anago push
  pkg/release/push.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/XS

#1618 Remove inferable flags from `krel anago push`
  anago
  cmd/krel/cmd/anago/push.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/M

#1620 Split HasRemoteBranch() return values to bool+error
  cmd/krel/cmd/ff.go
  pkg/git/git.go
  pkg/git/git_integration_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/M

#1613 Remove update-alternatives and iptables-wrapper script for stretch due to imcompatibilities
  images/build/debian-iptables/stretch/Dockerfile
  images/build/debian-iptables/stretch/iptables-wrapper
Labels: approved, cncf-cla: yes, kind/bug, lgtm, needs-priority, ok-to-test, release-note, size/M

#1624 OWNERS_ALIASES: Add xmudrii to release-engineering-approvers
  OWNERS_ALIASES
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1621 Introduce retries to some git operations
  pkg/git/git.go
  pkg/git/git_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1623 images: Build debian-iptables:stretch-v1.2.0
  images/build/debian-iptables/variants.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, size/XS

#1626 Use gsutil rsync to copy artifacts
  cmd/krel/cmd/anago/push.go
  pkg/gcp/gcs/gcs.go
  pkg/release/push.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/S

#1627 Add `RsyncRecursive()` API to gcs package
  pkg/gcp/gcs/gcs.go
  pkg/release/push.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/S

#1625 Add git.RemoteTags() function
  pkg/git/git.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1631 Always validate images against the provided registry
  pkg/release/images.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, release-note, sig/release, size/S

#1632 doc(images): Update images README to improve usability
  images/README.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/release, size/S

#1634 Add /hold and mention releng in image promotion PR body
  cmd/krel/cmd/promote-images.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1633 Validate promoted container images on nomock release
  cmd/krel/cmd/anago/push.go
  pkg/release/images.go
  pkg/release/push.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1629 Fix krel push for kubetest1+2
  pkg/release/push.go
  pkg/release/release.go
  pkg/release/release_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, size/L

#1635 Fix version check when publishing version markers
  pkg/release/publish.go
  pkg/release/publish_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, size/S

#1637 Delete BUILD_AT_HEAD key in krel gcbmgr if not set
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/XS

#1639 Revert "Delete BUILD_AT_HEAD key in krel gcbmgr if not set"
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/regression, lgtm, priority/critical-urgent, release-note-none, sig/release, size/XS

#1642 gcb: Update GitHub token
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, sig/release, size/XS

#1641 Make krel promote-images accept more than one tag
  cmd/krel/cmd/promote-images.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/release, size/M

#1648 RelNotes: Clone sig-release and use maps for website PR
  cmd/krel/cmd/release_notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1595 Add krel anago push-git-objects
  cmd/krel/cmd/anago/push_git_objects.go
  pkg/release/push_git_objects.go
  pkg/release/push_git_objects_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1649 Reduce verbosity of GSUtil commands
  pkg/gcp/build/build.go
  pkg/gcp/gcp.go
  pkg/gcp/gcs/gcs.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/S

#1650 images: Update to go1.15.3
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/cloudbuild.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1652 Migrate promotion CLI tools to k/release
  cmd/cip-mm/README.md
  cmd/cip-mm/main.go
  cmd/promobot-files/README.md
  cmd/promobot-files/main.go
  cmd/promobot-generate-manifest/README.md
  cmd/promobot-generate-manifest/main.go
  go.mod
  go.sum
  pkg/api/files/manifest.go
  pkg/api/files/manifest_test.go
  pkg/api/files/validation.go
  pkg/filepromoter/file.go
  pkg/filepromoter/filestore.go
  pkg/filepromoter/gcs.go
  pkg/filepromoter/interfaces.go
  pkg/filepromoter/manifest.go
  pkg/filepromoter/token.go
  pkg/promobot/hash.go
  pkg/promobot/hash_test.go
  pkg/promobot/promotefiles.go
  pkg/promobot/readmanifest_test.go
  pkg/promobot/testdata/files-manifest.yaml
  pkg/promobot/testdata/files/blue.png
  pkg/promobot/testdata/files/green.png
  pkg/promobot/testdata/files/red.png
  pkg/promobot/testdata/manifests/manyfiles/expected.yaml
  pkg/promobot/testdata/manifests/manyfiles/files/blue.yaml
  pkg/promobot/testdata/manifests/manyfiles/files/green.yaml
  pkg/promobot/testdata/manifests/manyfiles/files/red.yaml
  pkg/promobot/testdata/manifests/manyfiles/filestores.yaml
  pkg/promobot/testdata/manifests/onefiles/expected.yaml
  pkg/promobot/testdata/manifests/onefiles/files.yaml
  pkg/promobot/testdata/manifests/onefiles/filestores.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XXL

#1653 deps: Update to cip/pkg@v0.3.0
  go.mod
  go.sum
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/XS

#1654 images: Build k8s-cloud-builder:v1.15.3-1
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XS

#1655 Compile promotion tools and update dependencies
  compile-release-tools
  go.mod
  go.sum
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/L

#1656 Update OWNERS
  OWNERS_ALIASES
  cmd/kpromo/OWNERS
  cmd/promobot-files/OWNERS
  cmd/promobot-generate-manifest/OWNERS
  images/build/OWNERS
  images/build/debian-base/OWNERS
  images/build/debian-hyperkube-base/OWNERS
  images/build/debian-iptables/OWNERS
  images/build/go-runner/OWNERS
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/M

#1647 Change TOC generation module to sigs.k8s.io/mdtoc
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_data_test.go
  cmd/release-notes/main.go
  go.mod
  go.sum
  pkg/notes/toc.go
  pkg/notes/toc_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/L

#1657 Migrate vulnerability dashboard (vulndash) to k/release
  OWNERS_ALIASES
  cmd/vulndash/OWNERS
  cmd/vulndash/cmd/root.go
  cmd/vulndash/dashboard.html
  cmd/vulndash/dashboard.js
  cmd/vulndash/main.go
  docs/vuln-dashboard.md
  go.mod
  images/artifact-promoter/Makefile.artifact-promoter
  images/artifact-promoter/OWNERS
  images/artifact-promoter/vulndash/Dockerfile
  images/artifact-promoter/vulndash/Makefile
  images/artifact-promoter/vulndash/OWNERS
  images/artifact-promoter/vulndash/cloudbuild.yaml
  pkg/vulndash/OWNERS
  pkg/vulndash/adapter/adapter.go
  pkg/vulndash/adapter/adapter_test.go
  pkg/vulndash/adapter/types.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XXL

#1662 vulndash: Fixup image building and build v0.2.0 image
  cmd/vulndash/Dockerfile
  cmd/vulndash/Makefile
  cmd/vulndash/cloudbuild.yaml
  cmd/vulndash/variants.yaml
  dependencies.yaml
  images/artifact-promoter/vulndash/OWNERS
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/M

#1666 vulndash: fix dashboard.json file mode and build v0.2.1 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
  pkg/vulndash/adapter/adapter.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note, sig/release, size/S

#1660 Add krel stage/release subcommand documentation
  cmd/krel/cmd/release.go
  cmd/krel/cmd/stage.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/release, size/L
