Repository kubernetes/release, pull requests merged in 2020-12, with the labels that each got.

#1807 [releng] 1.20: Add 1.20 variant for k8s-ci-builder image
  images/releng/k8s-ci-builder/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, needs-priority, release-note-none, sig/release, size/XS

#1808 update shirou/gopsutil to use v3
  Makefile
  go.mod
  go.sum
  pkg/release/prerequisites.go
  pkg/release/prerequisites_test.go
  pkg/release/releasefakes/fake_prerequisites_checker_impl.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/S

#1809 Remove "Done" log message
  pkg/util/common.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/XS

#1810 krel: add option to post the testgridshot straight to github issue
  cmd/krel/cmd/promote-images.go
  cmd/krel/cmd/testgrid.go
  pkg/github/github.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/record.go
  pkg/github/replay.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1812 Add release notes index publishing API
  pkg/gcp/gcp.go
  pkg/release/publish.go
  pkg/release/publish_test.go
  pkg/release/releasefakes/fake_publisher_client.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XXL

#1813 Fix krel stage for build versions without a commit ID
  pkg/anago/anago.go
  pkg/anago/stage.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/critical-urgent, release-note, sig/release, size/S

#1811 Fix announcement creation in krel release
  pkg/anago/anago.go
  pkg/anago/release.go
  pkg/anago/release_test.go
  pkg/anago/stage.go
  pkg/announce/announce.go
  pkg/announce/options.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/M

#1705 New tool: publish-release utility
  README.md
  cmd/publish-release/README.md
  cmd/publish-release/cmd/github.go
  cmd/publish-release/cmd/root.go
  cmd/publish-release/main.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1814 Publish release notes and its index in krel release
  pkg/anago/anago.go
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/release.go
  pkg/anago/release_test.go
  pkg/anago/stage.go
  pkg/release/publish.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1815 Fetch remote JSON release notes for official releases
  pkg/changelog/changelog.go
  pkg/changelog/changelog_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#1817 Print the announce send command after release
  pkg/anago/release.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, release-note, sig/release, size/S

#1816 Add the Go version used to build the release to the release announcement
  pkg/announce/announce.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, kind/regression, lgtm, priority/important-soon, release-note, sig/release, size/M

#1818 Fix gitVersion parsing to include lightweight tags
  compile-release-tools
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#1823 krel/testgrid: add footer note about the generated comment
  cmd/krel/cmd/testgrid.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/XS

#1824 Increase number of tag returns
  pkg/github/github.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1826 Always checkout a branch when tagging repo during stage
  pkg/anago/stage.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/XS

#1822 dependencies: update several dependencies
  go.mod
  go.sum
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/L

#1821 Add relnotes in JSON to draft pull request
  cmd/krel/cmd/release_notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1830 fix type error in release-notes readme,
  cmd/release-notes/README.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, ok-to-test, release-note-none, sig/release, size/S
