Repository kubernetes/release, pull requests merged in 2021-12, with the labels that each got.

#2342 [go] Build go1.17.4 and go1.16.11 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#2343 issue/template: remove not needed item and general updates
  .github/ISSUE_TEMPLATE/dep-golang.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/documentation, kind/cleanup, area/release-eng, needs-priority

#2344 add kube-cross variant for k8s 1.24 next release
  dependencies.yaml
  images/build/cross/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng

#2346 update cosign to v1.4.0 release
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#2347 k8s-cloud-builder/k8s-ci-builder: Build image using go1.17.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng

#2348 Rebase the main branch instead of merging it
  pkg/release/push_git_objects.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, priority/critical-urgent, sig/release, kind/cleanup, area/release-eng

#2351 [go] Build go1.17.5 and go1.16.12 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng, area/dependency, area/release-eng/security

#2350 k8s-cloud-builder/k8s-ci-builder: Build image using go1.16.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng

#2352 update cosign to release v1.4.1
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2334 CI-Reporter testgrid logic into pkg/testgrid
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
  go.mod
  pkg/testgrid/testgrid-scraper.go
  pkg/testgrid/testgrid-scraper_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, kind/cleanup, tide/merge-method-squash, area/release-eng, needs-priority

#2353 k8s-cloud-builder/k8s-ci-builder: Build image using go1.17.5
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2356 k8s-cloud-builder/k8s-ci-builder: Build image using go1.16.12
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2366 krel: fix layout used to parse GCB time
  pkg/gcp/gcb/history.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2370 golang: Build 1.18beta1 images and drop temp `buster` variants
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#2371 images: k8s-cloud-builder go1.18 and CVE updates for debian-base
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
  images/k8s-cloud-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority, area/release-eng/security

#2373 debian-base: Update dependents to use bullseye-v1.1.0 / buster-v1.10.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority, area/release-eng/security

#2372 Add SBOM generation support to publish-release
  cmd/publish-release/cmd/github.go
  pkg/announce/github_page.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority
