Repository kubernetes/release, pull requests merged in 2021-04, with the labels that each got.

#1985 [go1.15] Build official images for go1.15.11
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
Labels: approved, area/dependency, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, size/S

#1986 pkg/release: Cleanup some unused code
  go.mod
  go.sum
  pkg/release/release.go
  pkg/release/release_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/L

#1975 GCB: Always file on master when failing to retrieve cross version
  pkg/gcp/gcb/gcb.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1988 Switch to go1.16 for building kubepkg
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
Labels: approved, area/release-eng, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/release, size/XS

#1991 debian-base: Build buster-v1.6.0 image
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XS

#1983 debian-iptables: Build buster-v1.6.0 image
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, ok-to-test, release-note, sig/release, size/S

#1995 New krel cve subcommand for publishing vulnerability information
  cmd/krel/cmd/cve.go
  pkg/cve/client.go
  pkg/cve/cve.go
  pkg/cve/cve_unit_test.go
  pkg/cve/impl.go
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XL

#1999 correct a wrong word
  cmd/schedule-builder/README.md
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, needs-priority, ok-to-test, release-note-none, sig/release, size/XS

#2000 Use test bucket for CVE data
  cmd/krel/cmd/cve.go
  pkg/cve/client.go
  pkg/cve/cve.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/S

#1996 Read and publish CVE information during anago/stage
  cmd/krel/cmd/changelog_data_test.go
  cmd/krel/cmd/changelog_test.go
  pkg/anago/stage.go
  pkg/changelog/changelog.go
  pkg/changelog/changelog_test.go
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/changelog/const.go
  pkg/changelog/impl.go
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/options/options.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/L

#1933 dependencies.yaml: Update zeitgeist to v0.3.0
  dependencies.yaml
  go.mod
  go.sum
  hack/verify-dependencies.sh
  internal/tools.go
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/M

#2001 Fix image building post-submits: first pass
  cloudbuild-kubepkg.yaml
  dependencies.yaml
  images/k8s-cloud-builder/ci-failures
  images/releng/ci/ci-failures
  images/releng/k8s-ci-builder/ci-failures
  images/releng/k8s-ci-builder/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/failing-test, kind/regression, lgtm, priority/critical-urgent, release-note, sig/release, size/M

#2002 Fix image building post-submits: second pass
  cloudbuild-kubepkg.yaml
  images/k8s-cloud-builder/ci-failures
  images/releng/ci/ci-failures
  images/releng/k8s-ci-builder/ci-failures
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/failing-test, kind/regression, lgtm, needs-priority, release-note-none, sig/release, size/XS

#2003 Fix image building post-submits: third pass
  dependencies.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/failing-test, kind/regression, lgtm, needs-priority, release-note, sig/release, size/S

#2004 k8s-ci-builder: Fix `CONFIG` substitution for `1.21` variant
  images/releng/k8s-ci-builder/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/failing-test, kind/regression, lgtm, needs-priority, release-note, sig/release, size/XS

#1978 kube-cross: Adds mingw-w64 for Windows binary compilation
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
  images/build/cross/variants.yaml
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, sig/windows, size/S

#2006 [go1.16] Build go1.16.3 images
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/cloudbuild.yaml
  packages/deb/Dockerfile
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/release, size/M

#2007 kube-cross: Build v1.16.3-canary-2 image
  images/build/cross/variants.yaml
Labels: approved, area/dependency, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, size/XS

#2008 [go1.16] Update kubernetes/kubernetes dependents to use go1.16.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/variants.yaml
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/S

#2009 [go1.15] Update kubernetes/kubernetes dependents to use go1.15.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/S

#2010 Add notice if release note gets excluded because of mismatched authors
  pkg/notes/notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/XS

#2015 Fix `krel release-notes` error message
  cmd/krel/cmd/release_notes.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, release-note-none, sig/release, size/XS

#2016 Verify `cosign` signatures of distroless base images
  dependencies.yaml
  images/build/go-runner/Dockerfile
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/distroless-cosign.pub
  images/build/go-runner/variants.yaml
Labels: approved, area/dependency, area/release-eng, area/release-eng/security, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#2022 Update krel READMEs
  docs/krel/changelog.md
  docs/krel/ff.md
  docs/krel/push.md
  docs/krel/release-notes.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/release, size/M

#2023 Add cve subcommand in krel README
  docs/krel/README.md
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/release, size/XS

#2019 gcb: Remove build prototype job
  gcb/build/cloudbuild.yaml
  gcb/build/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/M

#2024 Improve BuildVersion verification and local checks in krel build
  cmd/krel/cmd/release.go
  pkg/anago/anago.go
  pkg/release/release.go
  pkg/release/release_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-soon, release-note, sig/release, size/M

#2025 Fix tag sorting for recent git versions
  pkg/git/git.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/XS

#2026 Fix git commit author for unit tests
  pkg/git/git_integration_test.go
  pkg/git/git_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/failing-test, lgtm, needs-priority, release-note-none, sig/release, size/M

#2020 Fix generating duplicates and omitting heading
  pkg/changelog/const.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/document/template.go
  pkg/notes/document/testdata/document.md.golden
  pkg/notes/document/testdata/document_without_downloads.md.golden
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, priority/backlog, release-note, sig/release, size/M
