Repository kubernetes/release, pull requests merged in 2021-07, with the labels that each got.

#2148 Add suggestion in handling common bucket permission error
  pkg/build/push.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/documentation, lgtm, needs-priority, release-note-none, sig/release, size/XS

#2147 SPDX bug fixes found during v1.22.0-beta.0
  pkg/license/download.go
  pkg/spdx/builder.go
  pkg/spdx/document.go
  pkg/spdx/file.go
  pkg/spdx/gomod.go
  pkg/spdx/implementation.go
  pkg/spdx/object.go
  pkg/spdx/package.go
  pkg/spdx/relationship.go
  pkg/spdx/spdx.go
  pkg/spdx/spdx_test.go
  pkg/spdx/spdx_unit_test.go
  pkg/spdx/spdxfakes/fake_spdx_implementation.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, kind/cleanup, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XXL

#2153 packages/deb: Use ci/latest.txt as canonical cross build marker
  packages/deb/build.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/XS

#2156 Final fixes for initial 2-SBOM release
  pkg/anago/anago.go
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/release/workspace.go
  pkg/spdx/builder.go
  pkg/spdx/document.go
  pkg/spdx/implementation.go
  pkg/spdx/relationship.go
  pkg/spdx/spdx_unit_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, kind/cleanup, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XXL

#2159 License Catalog: Ignore deprecated license IDs
  pkg/license/catalog.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/XS

#2160 Release process artifact verification
  pkg/anago/anago.go
  pkg/anago/anagofakes/fake_stage_client.go
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/binary/binary.go
  pkg/binary/binary_unit_test.go
  pkg/release/binaries.go
  pkg/release/workspace.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, release-note, sig/release, size/XL

#2162 [go] Build go1.16.6 and go1.15.14 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: approved, area/dependency, area/release-eng, area/release-eng/security, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#2158 bash: use k8s-release-dev for CI builds
  packages/deb/jenkins.sh
  push-build.sh
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note, sig/release, size/XS

#2163 k8s-cloud-builder: Build image using go1.16.6
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/XS

#2117 [go1.17] Build images for go1.17rc1
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: approved, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#2167 Clean up extra spaces
  images/releng/k8s-ci-builder/create_bazel_cache_rcs.sh
  images/releng/k8s-ci-builder/wrapper.sh
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, needs-kind, needs-priority, ok-to-test, release-note-none, sig/release, size/XS

#2171 Update k8s-ci-builder/k8s-cloud-builder to go 1.15.14
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: approved, area/dependency, area/release-eng, area/release-eng/security, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/S

#2170 update cosign to v0.6.0
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS

#2173 schedule-builder: add new field
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/model.go
  cmd/schedule-builder/cmd/root_test.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/feature, lgtm, needs-priority, release-note, sig/release, size/M

#2176 Temporarily disable the tag check during staging
  pkg/anago/stage.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/regression, lgtm, priority/critical-urgent, release-note-none, sig/release, size/XS

#2177 Check branch existence before merge
  pkg/release/push_git_objects.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/S

#2178 Pass branch without remote to HasRemoteBranch()
  pkg/release/push_git_objects.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note-none, sig/release, size/XS

#2179 Use -trimpath for builds
  compile-release-tools
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS

#2180 Close release notes maps after reading
  pkg/notes/notes_map.go
Labels: approved, area/release-eng, cncf-cla: yes, kind/bug, lgtm, needs-priority, release-note, sig/release, size/XS

#2182 update cosign to `v1.0.0`
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Labels: approved, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, needs-priority, release-note-none, sig/release, size/XS
