Repository kubernetes/release, pull requests merged in 2021-10, with the labels that each got.

#2273 Release process: stage SLSA provenance metadata
  gcb/stage/cloudbuild.yaml
  go.mod
  go.sum
  pkg/anago/anago.go
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/build/push.go
  pkg/provenance/predicate.go
  pkg/provenance/predicate_test.go
  pkg/provenance/predicate_unit_test.go
  pkg/provenance/provenance.go
  pkg/provenance/provenancefakes/fake_predicate_implementation.go
  pkg/provenance/provenancefakes/fake_statement_implementation.go
  pkg/provenance/statement.go
  pkg/provenance/statement_test.go
  pkg/provenance/statement_unit_test.go
  pkg/release/release.go
Labels: lgtm, cncf-cla: yes, size/XXL, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng

#2278 Bump go-github to v39
  go.mod
  go.sum
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2277 Bump mdtoc to v1.1.0
  cmd/krel/cmd/changelog_data_test.go
  cmd/release-notes/main.go
  go.mod
  go.sum
  pkg/changelog/impl.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2281 config: Add configs for copying GitHub releases to GCS buckets
  config/kpromo-gh.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2296 Fix container images provenance data
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/release/provenance.go
  pkg/release/provenance_test.go
  pkg/spdx/gomod.go
Labels: lgtm, cncf-cla: yes, size/XL, approved, kind/bug, release-note, priority/important-soon, sig/release, kind/cleanup, area/release-eng
