Repository kubernetes/release, pull requests merged in 2022-10, with the labels that each got.

#2696 Build Go 1.19.2 and 1.18.7 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng, area/dependency

#2699 Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.2 and Go 1.18.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#2701 Update Golang dependency update issue template
  .github/ISSUE_TEMPLATE/dep-golang.md
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/documentation, area/release-eng, area/dependency, needs-priority

#2689 Ensure release-notes tool doesn't skip automated cherry picks
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2707 GCS Support for publish-release
  cmd/publish-release/cmd/github.go
  cmd/publish-release/cmd/github_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2708 Separate DEB/RPM build and sign + publish
  hack/rapture/build-packages.sh
  hack/rapture/k8s-rapture.sh
  hack/rapture/publish-packages.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2710 fix missing distro local
  hack/rapture/publish-packages.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, needs-kind, area/release-eng, needs-priority

#2712 Ensure it's possible to build rpms generated by kubepkg
  cmd/kubepkg/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/kubepkg/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/kubepkg/templates/latest/rpm/kubectl/kubectl.spec
  cmd/kubepkg/templates/latest/rpm/kubelet/kubelet.spec
  cmd/kubepkg/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note, priority/important-longterm, sig/release, kind/cleanup, area/release-eng

#2720 get the correct path to upload to github release page
  cmd/publish-release/cmd/github.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2730 update bom to use head for now
  go.mod
  go.sum
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority
