Repository kubernetes/release, pull requests merged in 2022-12, with the labels that each got.

#2798 Add 1.26 variant for kubecross
  images/build/cross/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2773 OWNERS: Cleanup pt. 2
  OWNERS_ALIASES
  cmd/ci-reporter/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2794 Build Go 1.19.4 and 1.18.9 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#2795 Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.4 and Go 1.18.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, priority/critical-urgent, sig/release, area/release-eng, area/dependency

#2797 Add `LinkMode()` to binary implementation
  pkg/binary/binary.go
  pkg/binary/binaryfakes/fake_binary_implementation.go
  pkg/binary/elf.go
  pkg/binary/mach-o.go
  pkg/binary/windows.go
  pkg/release/binaries.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2814 Skip krel fast-forward when release cut issue is open
  .golangci.yml
  cmd/krel/cmd/ff.go
  go.mod
  go.sum
  pkg/fastforward/fastforward.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2817 Retry `docker manifest push` on network failure
  go.mod
  pkg/release/images.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, sig/release, kind/flake, area/release-eng, needs-priority

#2818 Fix release-sdk `LsRemote()` usage
  pkg/release/repository.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#2819 Bump k-sigs/release-sdk to v0.9.6
  go.mod
  go.sum
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority, kind/regression

#2816 golang: Build 1.20rc1 images
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2825 build cross for go1.19 for 1.23 and 1.24 release branches
  images/build/cross/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2830 Update 1.24 ci and builders to go1.19.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2829 Fix: Add id-token to scorecards analysis workflow
  .github/workflows/scorecards-analysis.yml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, kind/failing-test, release-note-none, sig/release, ok-to-test, area/release-eng, needs-priority

#2832 Update 1.23 ci and builders to go1.19.4
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2835 Add `.go-version` file to the Golang updates template
  .github/ISSUE_TEMPLATE/dep-golang.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, priority/important-soon, sig/release, kind/documentation, area/release-eng

#2836 Fix integration test failing
  cmd/krel/cmd/changelog_data_test.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/failing-test, release-note-none, sig/release, area/release-eng, needs-priority

#2831 distroless: avoid repeatedly concatenating package info
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/distroless/package-utils.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2838 refactor dockerfile comment to trigger another build attempt
  images/build/distroless-iptables/distroless/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/flake, area/release-eng, needs-priority
