Repository kubernetes/release, pull requests merged in 2022-08, with the labels that each got.

#2626 [GO] build Go 1.18.5 and 1.17.13 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng, area/dependency

#2628 build Go 1.19 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2630 k8s-cloud-builder/k8s-ci-builder: build using go1.18.5 and go1.17.13
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#2631 add k8s-cloud-builder for go1.19
  images/k8s-cloud-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, priority/critical-urgent, sig/release, area/release-eng, area/dependency

#2632 chore(krel): update CLI message for GITHUB_TOKEN #2574
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/testgrid.go
  pkg/notes/notes_test.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, ok-to-test, area/release-eng, needs-priority

#2635 Temporarily make image signature verification soft-fail
  pkg/release/images.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2636 Revert "Temporarily make image signature verification soft-fail"
  pkg/release/images.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2639 update cosign image
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2641 debian-base: Build bullseye-v1.4.2
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, priority/important-soon, sig/release, ok-to-test, area/release-eng, area/dependency, area/release-eng/security

#2643 debian-base: Update dependents to use bullseye-v1.4.2
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, ok-to-test, area/release-eng, needs-priority

#2644 remove not needed variants
  dependencies.yaml
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2648 Update release-sdk to v0.9.3
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/changelog_data_test.go
  cmd/krel/cmd/release_notes.go
  dependencies.yaml
  go.mod
  go.sum
  hack/verify-golangci-lint.sh
  pkg/anago/anago.go
  pkg/anago/release.go
  pkg/anago/release_test.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/build/push.go
  pkg/changelog/changelog.go
  pkg/kubepkg/kubepkg_test.go
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/options/options_test.go
  pkg/release/images.go
  pkg/release/publish.go
  pkg/release/push_git_objects.go
  pkg/release/release_version.go
  pkg/release/repository.go
  pkg/release/version.go
  pkg/testgrid/testgrid_test.go
Labels: lgtm, cncf-cla: yes, size/XL, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2649 Update to go1.19
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  go.mod
  images/build/cross/Makefile
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/go.mod
  packages/deb/Dockerfile
  packages/deb/go.mod
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng
