Repository kubernetes/release, pull requests merged in 2022-11, with the labels that each got.

#2736 Fix unbound variable if no version is specified in `hack/rapture/build-packages.sh`
  hack/rapture/build-packages.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2732 Build Go 1.19.3 and 1.18.8 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng, area/dependency

#2740 Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.3 and Go 1.18.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng, area/dependency

#2739 Bump version of tonistiigi/binfmt to latest qemu-v7.0.0
  hack/init-buildx.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#2741 use tagged version for BOM
  go.mod
  go.sum
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2743 Update golangci-lint and config
  .golangci.yml
  cmd/krel/cmd/release_notes.go
  dependencies.yaml
  hack/verify-golangci-lint.sh
  pkg/anago/anago.go
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2744 Add package build and release to `krel`
  cmd/krel/cmd/release.go
  hack/rapture/build-packages.sh
  hack/rapture/publish-packages.sh
  packages/deb/jenkins.sh
  packages/rpm/docker-build.sh
  pkg/anago/anago.go
  pkg/anago/anagofakes/fake_release_client.go
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/anagofakes/fake_stage_client.go
  pkg/anago/anagofakes/fake_stage_impl.go
  pkg/anago/release.go
  pkg/anago/release_test.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
  pkg/packages/impl.go
  pkg/packages/packages.go
  pkg/packages/packages_test.go
  pkg/packages/packagesfakes/fake_impl.go
Labels: lgtm, cncf-cla: yes, size/XXL, approved, kind/feature, release-note, priority/important-soon, sig/release, area/release-eng

#2749 Update the rapture docs for new deb/rpm package process
  hack/rapture/README.md
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/documentation, area/release-eng, needs-priority

#2760 Remove darwin/386 from cross Dockerfile
  images/build/cross/default/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#2758 Fix release notes dedup based on rendered markdown
  cmd/krel/cmd/changelog_data_test.go
  pkg/notes/notes.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2709 Adding parameterization to go-runner Dockerfile
  images/build/go-runner/Dockerfile
  images/build/go-runner/Makefile
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2763 Update link for 'Published by your Release Managers'
  cmd/krel/cmd/announce_build.go
  pkg/announce/announce.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2746 Use the new registry endpoint in the annoucements to the kubernetes-dev mailing list
  README.md
  cmd/krel/cmd/announce_build.go
  hack/rapture/README.md
  pkg/announce/announce.go
  pkg/notes/document/document.go
  pkg/notes/document/document_test.go
  pkg/notes/document/testdata/document.md.golden
  pkg/notes/document/testdata/document_without_downloads.md.golden
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note, sig/release, kind/cleanup, tide/merge-method-squash, area/release-eng, needs-priority

#2769 Record GitHub API without concurrency
  pkg/notes/notes.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2771 sig-release: Promote Verónica (Tech Lead) and Jeremy (Chair)
  OWNERS_ALIASES
  SECURITY_CONTACTS
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, needs-kind, area/release-eng, needs-priority

#2772 OWNERS: Cleanup of leaf OWNERS and reconcile RMAs
  OWNERS_ALIASES
  hack/rapture/OWNERS
  images/build/debian-base/OWNERS
  images/build/debian-iptables/OWNERS
  images/build/distroless-iptables/OWNERS
  pkg/notes/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2742 add krel sign blobs and images commands
  cmd/krel/cmd/sign.go
  cmd/krel/cmd/sign_blobs.go
  cmd/krel/cmd/sign_images.go
  gcb/release/cloudbuild.yaml
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2774 Verify provided args on `krel stage`
  cmd/krel/cmd/stage.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2776 Fix sign double quotation marks
  gcb/release/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#2778 Fix missing `v` for version string in GCS bucket
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#2779 Do not sign `SHA512SUMS`
  cmd/krel/cmd/sign_blobs.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#2781 fix the len should be of the number of files and not in the arguments passed
  cmd/krel/cmd/sign.go
  cmd/krel/cmd/sign_blobs.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2782 when downloading copy o local using the same directory structure
  cmd/krel/cmd/sign_blobs.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#2784 Split options.Validate into two functions and handle empty stage build version
  pkg/anago/anago.go
  pkg/anago/anago_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#2785 Fix file signing verification error and bucket upload
  cmd/krel/cmd/sign_blobs.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/bug, release-note, priority/critical-urgent, sig/release, area/release-eng
