Repository kubernetes/release, pull requests merged in 2023-01, with the labels that each got.

#2840 go.mod: Update github.com/google/go-github to v48.2.0
  go.mod
  go.sum
  pkg/changelog/changelogfakes/fake_impl.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/gcp/gcb/gcbfakes/fake_release.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/packages/packagesfakes/fake_impl.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2846 golang: Build 1.20rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2854 update TestNewPatchRelease test
  cmd/krel/cmd/changelog_data_test.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note-none, priority/important-soon, sig/release, area/release-eng

#2853 Build Go 1.19.5 and 1.18.10 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#2856 Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.5
  cmd/krel/cmd/changelog_data_test.go
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#2857 golang: Build 1.20rc3 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2863 Update CNI plugins to v1.2.0
  dependencies.yaml
  packages/deb/build.go
  packages/rpm/kubelet.spec
  pkg/kubepkg/kubepkg.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2871 Added Golang Command to install Krel Tool #2870
  docs/krel/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/documentation, area/release-eng, needs-priority

#2875 Revert bumping kubernetes-cni to v1.2.0 and cri-tools to v1.26.0
  dependencies.yaml
  packages/deb/build.go
  packages/deb/build_test.go
  packages/rpm/kubelet.spec
  pkg/kubepkg/kubepkg.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, priority/important-soon, sig/release, area/release-eng, kind/regression
