Repository kubernetes/release, pull requests merged in 2023-04, with the labels that each got.

#3000 Build Go 1.20.3 and 1.19.8 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#3001 update debian-iptables and distroless-iptables to go 1.20.3
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3004 Bump kube-cross and k8s-cloud-builder to go 1.20.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/documentation, area/release-eng, needs-priority

#3005 Update dependencies
  go.mod
  go.sum
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/packages/packagesfakes/fake_impl.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3006 Bump k8s-cloud-builder and k8s-ci-builder to Go 1.19.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3015 Bump go-modiff to v1.3.2
  go.mod
  go.sum
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority
