Repository kubernetes/release, pull requests merged in 2023-03, with the labels that each got.

#2936 Revert "comment out temporarily the verify image signatures"
  pkg/anago/release_test.go
  pkg/release/images.go
  pkg/release/images_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2939 Adding Support for Changing Qemu image
  images/build/debian-base/Makefile
  images/build/debian-iptables/Makefile
  images/build/distroless-iptables/Makefile
  images/build/setcap/Makefile
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, needs-kind, ok-to-test, area/release-eng, needs-priority

#2941 Update qemu to v7.2.0-1 for distroless-iptables
  dependencies.yaml
  images/build/distroless-iptables/Makefile
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#2949 Build Go 1.20.2 and 1.19.7 based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#2765 Stop building rc.0 versions after official patches
  pkg/release/release_version.go
  pkg/release/release_version_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, priority/important-soon, sig/release, area/release-eng, kind/deprecation

#2954 update debian-iptables and distroless-iptables and setcap
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2955 Bump k8s-cloud-builder and k8s-ci-builder to Go 1.20.2 and 1.19.7
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/distroless-iptables/Makefile
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#2951 Add documentation about how to add new secrets to cloudbuild
  gcb/fast-forward/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/documentation, area/release-eng, needs-priority

#2957 add goreleaser and ko to the releng-ci image
  images/releng/ci/Dockerfile
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2961 update ko to v0.13.0
  images/releng/ci/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2946 Introduce `krel obs specs` command to generate specs and archives for Open Build Service
  cmd/krel/cmd/obs.go
  cmd/krel/cmd/obs_specs.go
  cmd/krel/templates/latest/rpm/cri-tools/LICENSE
  cmd/krel/templates/latest/rpm/cri-tools/README.md
  cmd/krel/templates/latest/rpm/cri-tools/cri-tools.spec
  cmd/krel/templates/latest/rpm/kubeadm/10-kubeadm.conf
  cmd/krel/templates/latest/rpm/kubeadm/LICENSE
  cmd/krel/templates/latest/rpm/kubeadm/README.md
  cmd/krel/templates/latest/rpm/kubeadm/kubeadm.spec
  cmd/krel/templates/latest/rpm/kubectl/LICENSE
  cmd/krel/templates/latest/rpm/kubectl/README.md
  cmd/krel/templates/latest/rpm/kubectl/kubectl.spec
  cmd/krel/templates/latest/rpm/kubelet/LICENSE
  cmd/krel/templates/latest/rpm/kubelet/README.md
  cmd/krel/templates/latest/rpm/kubelet/kubelet.env
  cmd/krel/templates/latest/rpm/kubelet/kubelet.service
  cmd/krel/templates/latest/rpm/kubelet/kubelet.spec
  cmd/krel/templates/latest/rpm/kubernetes-cni/LICENSE
  cmd/krel/templates/latest/rpm/kubernetes-cni/README.md
  cmd/krel/templates/latest/rpm/kubernetes-cni/kubernetes-cni.spec
  pkg/obs/options/options.go
  pkg/obs/options/options_test.go
  pkg/obs/specs/fetcher.go
  pkg/obs/specs/links.go
  pkg/obs/specs/links_test.go
  pkg/obs/specs/specs.go
  pkg/obs/specs/specs_test.go
  pkg/obs/specs/specsfakes/fake_impl.go
  pkg/obs/specs/template.go
  pkg/obs/specs/versions.go
  pkg/obs/specs/versions_test.go
Labels: lgtm, cncf-cla: yes, size/XXL, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#2971 comment out temporarily the verify image signatures
  pkg/anago/release_test.go
  pkg/release/images.go
  pkg/release/images_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/bug, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2960 Drop 32bit arm from package builds
  hack/rapture/build-packages.sh
  packages/rpm/docker-build.sh
  packages/rpm/entry.sh
  pkg/packages/impl.go
  pkg/packages/packages.go
  pkg/packages/packages_test.go
  pkg/packages/packagesfakes/fake_impl.go
Labels: lgtm, cncf-cla: yes, size/L, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#2984 allow objects.githubusercontent.com
  .github/workflows/codeql-analysis.yml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2979 Ability to override BINFMT_IMAGE in init-buildx.sh
  hack/init-buildx.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#2990 update TestNewPatchRelease test
  cmd/krel/cmd/changelog_data_test.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#2989 Switched from N1 to E2 machine
  gcb/fast-forward/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, ok-to-test, area/release-eng, needs-priority
