Repository kubernetes/release, pull requests merged in 2023-06, with the labels that each got.

#3101 Update packages in distroless-iptables build
  images/build/distroless-iptables/distroless/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#3105 Build Go 1.19.10 and Go 1.20.5 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, area/dependency, needs-priority

#3107 update debian-iptables and distroless-iptables to use go 1.20.5
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3108 Bump k8s-cloud-builder and golang refs to 1.20.5 after k/k update
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note-none, sig/release, area/release-eng, needs-priority

#3109 Enable OBS builds in krel stage and release
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note-none, sig/release, area/release-eng, needs-priority

#3116 Bump builders to use Go 1.19.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3122 use google/safetext for yaml templating.
  dependencies.yaml
  go.mod
  go.sum
  hack/verify-boilerplate.sh
  images/build/go-runner/go-runner.go
  internal/tools.go
  packages/deb/build.go
  packages/deb/build_test.go
  pkg/obs/specs/pkgdef.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, needs-kind, ok-to-test, area/release-eng, needs-priority

#3129 update cosign image and use the ghcr registry
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3133 update TestNewPatchRelease test
  cmd/krel/cmd/changelog_data_test.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/failing-test, release-note-none, sig/release, area/release-eng, needs-priority

#3132 golang: Build 1.21rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority
