Repository kubernetes/release, pull requests merged in 2023-10, with the labels that each got.

#3297 Add goreleaser actions
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  dependencies.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note-none, sig/release, area/release-eng, needs-priority

#3301 Fix release-notes binary path
  .goreleaser.yml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3302 fix archive to remove the duplicates
  .goreleaser.yml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3300 Add docs about how to tag this repository
  README.md
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/documentation, area/release-eng, needs-priority

#3304 Add `--wait` flag for `krel obs stage`
  cmd/krel/cmd/obs_stage.go
  gcb/obs-stage/cloudbuild.yaml
  pkg/gcp/gcb/gcb.go
  pkg/obs/obs.go
  pkg/obs/obsfakes/fake_stage_client.go
  pkg/obs/obsfakes/fake_stage_impl.go
  pkg/obs/stage.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3305 Build Go 1.21.2 and 1.20.9 images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  packages/deb/Dockerfile
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3306 Update distroless-iptables to use go 1.21.2
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3309 Pin release-utils to latest release
  go.mod
  go.sum
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3310 Update k8s-cloud-builder/k8s-ci-builder to Go 1.21.2/1.20.9
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3316 Build Go 1.21.3 and 1.20.10 images
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3315 Don't wait for OBS build results if not selected
  pkg/obs/stage.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3318 Default `krel obs stage --wait` to `true`
  cmd/krel/cmd/obs_stage.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3319 Update k8s-cloud-builder/k8s-ci-builder to Go 1.21.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3320 Add nftables binary to the distroless-iptables image
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/distroless/Dockerfile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3323 fix changelog integration test
  cmd/krel/cmd/changelog_data_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#3322 Update k8s-cloud-builder/k8s-ci-builder to Go 1.20.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3324 Enable support for building arm64 in krel build
  pkg/build/build.go
  pkg/build/ci.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3329 Update golangci-lint to v1.55.0
  .github/workflows/lint.yml
  .golangci.yml
  cmd/ci-reporter/cmd/root.go
  cmd/krel/cmd/release_notes.go
  dependencies.yaml
  pkg/anago/release_test.go
  pkg/anago/stage_test.go
  pkg/binary/binary_test.go
  pkg/cve/cve.go
  pkg/gcp/gcb/gcb.go
  pkg/mail/mail_test.go
  pkg/notes/document/document_test.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
  pkg/release/provenance.go
  pkg/release/release_test.go
  pkg/testgrid/testgrid.go
Labels: lgtm, cncf-cla: yes, size/L, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority
