Repository kubernetes/release, pull requests merged in 2023-12, with the labels that each got.

#3384 Skip unfinished jobs in `krel history`
  pkg/gcp/gcb/history.go
  pkg/gcp/gcb/history_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3388 Build Go 1.21.5 and 1.20.12
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, priority/critical-urgent, sig/release, area/release-eng

#3389 Update distroless-iptables to use go 1.21.5
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3390 Build k8s-ci-builder and k8s-cloud-bulider with Go 1.21.5
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3393 update cosign image to use v2.2.2 release
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3394 Build k8s-ci-builder and k8s-cloud-bulider with Go 1.20.12
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3399 Update Go updates template with the latest process changes
  .github/ISSUE_TEMPLATE/dep-golang.md
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, priority/important-soon, sig/release, kind/documentation, area/release-eng

#3401 Create publishing-bot issue when cutting rc.0
  pkg/anago/release.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note-none, priority/important-longterm, sig/release, area/release-eng
