Repository kubernetes/release, pull requests merged in 2024-07, with the labels that each got.

#3662 Use new release-sdk `WaitResults` API
  go.mod
  go.sum
  pkg/obs/stage.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3664 Build Go 1.22.5
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3665 bump distroless-iptables to use go1.22.5
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3666 Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.5
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3667 Add releng ci 1.21
  images/releng/ci/Dockerfile
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3669 golang: Build 1.23rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3675 Remove unnecessary `os.Exit` after `logrus.Fatal`
  cmd/ci-reporter/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3680 golang: Build 1.23rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3684 Add sig labels to markdown
  pkg/notes/maps/testdata/unit/maps.yaml
  pkg/notes/notes.go
  pkg/notes/notes_map_test.go
  pkg/notes/notes_v2.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3685 build distroless-iptables with go1.23rc2
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3686 Fix empty sig list render for markdown
  pkg/notes/maps/testdata/applymap-unit-test/maps.yaml
  pkg/notes/maps/testdata/no-sigs-unit-test/map.yaml
  pkg/notes/notes.go
  pkg/notes/notes_map_test.go
  pkg/notes/notes_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#3690 Add k8s-cloud-builder and k8s-ci-builder for Go 1.23rc2
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3693 Update release-utils to v0.8.4
  cmd/krel/cmd/announce_send.go
  go.mod
  go.sum
  pkg/release/publish.go
  pkg/release/version.go
  pkg/testgrid/testgrid.go
  pkg/testgrid/testgrid_test.go
  pkg/testgrid/testgridfakes/fake_client.go
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority
