Repository kubernetes/release, pull requests merged in 2024-09, with the labels that each got.

#3737 Drop GCS URL for assets downloads.
  pkg/consts/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3741 Add k8s-cloud-builder and k8s-ci-builder for Go 1.23.0
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3742 rebuild debian-base - bump to bookworm-v1.0.4
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3743 rebuild setcap with debian-base bookworm-v1.0.4
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3749 Switch production bucket
  pkg/release/release.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3751 Use production or test bucket when submitting GCB jobs
  pkg/gcp/gcb/gcb.go
  pkg/release/release.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3752 Remove ACL ownership change on release publish
  pkg/release/publish.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3753 Fix publish marker link replacement for production bucket
  hack/get-krel
  pkg/release/publish.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3754 Revert: always build krel from sources
  hack/get-krel
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3757 Switch to go 1.23
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yaml
  .golangci.yml
  dependencies.yaml
  go.mod
  go.sum
Labels: lgtm, cncf-cla: yes, size/L, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3761 schedule-builder: don't mention release name for upcoming
  cmd/schedule-builder/cmd/markdown.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3760 Add `FORCE_BUILD_KREL` GCB env var to build krel from sources
  gcb/fast-forward/cloudbuild.yaml
  gcb/obs-release/cloudbuild.yaml
  gcb/obs-stage/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  hack/get-krel
  pkg/gcp/gcb/gcb.go
  pkg/gcp/gcb/gcb_test.go
  pkg/release/release.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3763 Fix marker publish verification when bucket is private
  pkg/release/publish.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3758 newer golang patch (1.22.7, 1.23.1) sep2024
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, priority/important-soon, sig/release, tide/merge-method-squash, ok-to-test, area/release-eng

#3768 Add `krel push --repo-root` CLI flag
  cmd/krel/cmd/push.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3773 bump distroless-iptables to use go 1.22.7/1.23.1
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, kind/cleanup, ok-to-test, area/release-eng, needs-priority
