Repository kubernetes/release, pull requests merged in 2024-11, with the labels that each got.

#3820 build kube-cross, go-runner, releng-ci with golang 1.22.9, 1.23.3
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3828 remove blank spaces
  images/build/go-runner/README.md
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, priority/important-soon, sig/release, kind/cleanup, area/release-eng

#3834 Apply fix for release notes index JSON
  pkg/release/publish.go
  pkg/release/publish_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3835 Temporarily Run Builds Serially
  gcb/stage/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/flake, area/release-eng, needs-priority

#3838 Re-add production bucket fix to release notes index
  pkg/release/publish.go
  pkg/release/publish_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3839 Fix goreleaser deprecation notice
  .goreleaser.yml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3844 Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.3
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, priority/critical-urgent, sig/release, area/release-eng

#3845 Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.9 and drop config for release-1.28
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3846 Update dependencies.yaml with Kubernetes v1.32
  dependencies.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/documentation, area/release-eng, needs-priority
