Repository kubernetes/release, pull requests merged in 2024-06, with the labels that each got.

#3629 Add version discovery for cri-tools and kubernetes-cni packages
  go.mod
  go.sum
  pkg/obs/specs/helpers.go
  pkg/obs/specs/impl.go
  pkg/obs/specs/pkgdef.go
  pkg/obs/specs/specsfakes/fake_impl.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3635 Build Go 1.22.4 and 1.21.11
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3637 bump distroless to use go1.22.3 and go1.21.10 and update setcap
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3642 Allow the dependency-review action to access api.deps.dev
  .github/workflows/depsreview.yml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3639 release-notes: add `--skip-first-commit`/`-s` option
  cmd/release-notes/README.md
  cmd/release-notes/generate.go
  go.mod
  go.sum
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/options/options.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3644 Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.4 and 1.21.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3640 Remove `ETCD_VERSION` refs from base-images
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3652 build image with go1.22.4 for active release branches that were in go1.21
  dependencies.yaml
  images/build/cross/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3654 Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.4 for active release branches
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3656 drop building images for go1.21.x
  dependencies.yaml
  images/build/distroless-iptables/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3589 add job to test packages with rpmlint
  Makefile
  compile-release-tools
  hack/get-krel
  hack/test-go-integration.sh
  hack/test-go.sh
  hack/test-sh.sh
  hack/verify-package-specs.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority
