Repository kubernetes/release, pull requests merged in 2024-12, with the labels that each got.

#3852 Update golangci-lint to v1.62
  .github/workflows/lint.yml
  .golangci.yml
  cmd/krel/cmd/release_notes.go
  dependencies.yaml
  pkg/cve/cve.go
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3854 Fix link text in release note
  pkg/announce/github/consts.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3863 Apply and fix `testifylint` linter
  .golangci.yml
  cmd/gcbuilder/cmd/root_test.go
  cmd/krel/cmd/changelog_test.go
  cmd/krel/cmd/ff_test.go
  cmd/krel/cmd/sut_test.go
  cmd/krel/cmd/validate_test.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root_test.go
  gcb/gcb_test.go
  pkg/anago/anago_test.go
  pkg/anago/release_test.go
  pkg/anago/stage_test.go
  pkg/announce/announce_test.go
  pkg/binary/binary_test.go
  pkg/binary/binary_unit_test.go
  pkg/build/make_test.go
  pkg/changelog/changelog_test.go
  pkg/cve/cve_unit_test.go
  pkg/fastforward/fastforward_test.go
  pkg/gcp/gcb/gcb_test.go
  pkg/gcp/gcb/history_test.go
  pkg/kubecross/kubecross_test.go
  pkg/mail/mail_test.go
  pkg/notes/dependencies_test.go
  pkg/notes/document/document_test.go
  pkg/notes/notes_map_test.go
  pkg/notes/notes_test.go
  pkg/notes/options/options_test.go
  pkg/release/branch_checker_test.go
  pkg/release/images_test.go
  pkg/release/prerequisites_test.go
  pkg/release/provenance_test.go
  pkg/release/publish_test.go
  pkg/release/push_git_objects_test.go
  pkg/release/release_test.go
  pkg/release/release_version_test.go
  pkg/release/repository_test.go
  pkg/release/version_test.go
  pkg/testgrid/testgrid-scraper_test.go
  pkg/testgrid/testgrid_test.go
Labels: lgtm, cncf-cla: yes, size/XL, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3864 Apply and fix more linters
  .golangci.yml
  cmd/ci-reporter/cmd/github.go
  cmd/ci-reporter/cmd/root.go
  cmd/ci-reporter/cmd/testgrid.go
  gcb/gcb_test.go
  pkg/binary/binary.go
  pkg/build/build_test.go
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/notes_map.go
  pkg/notes/notes_v2.go
  pkg/release/publish.go
  pkg/testgrid/testgrid-scraper.go
  pkg/testgrid/testgrid-scraper_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3866 build kube-cross, go-runner, releng-ci with golang 1.22.10, 1.23.4
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3868 bump distroless-iptables to use go1.22.10 and go1.23.4
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3870 build go imagesd for k8s 1.33
  dependencies.yaml
  images/build/cross/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority
