Repository kubernetes/release, pull requests merged in 2024-02, with the labels that each got.

#3446 update Google Cloud artifact registry for the k8s images
  pkg/notes/document/document.go
  pkg/notes/document/testdata/document.md.golden
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3448 Bump go-modiff to v1.3.4
  go.mod
  go.sum
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3453 update setcap base image to bookworm-v1.0.1
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3452 Build Go 1.21.7 and 1.20.14
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3454 Build Go 1.22 (1.22.0) images
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/Dockerfile
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3456 update distroless iptables to use go1.21.7 and go1.20.14
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3457 build distroless-iptables using go1.22
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3458 change repo-path default for release-note generate cmd
  cmd/release-notes/generate.go
  pkg/notes/options/options.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, ok-to-test, area/release-eng, needs-priority

#3461 build go images with 1.21.7 for old release branches and drop go1.20 images build
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3463 Build k8s-ci-builder and k8s-cloud-bulider with Go 1.22.0 and 1.21.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3464 Build k8s-cloud-builder with Go 1.21.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3445 adapt krel/ff to run with other repositories that are not only k/k
  cmd/krel/cmd/ff.go
  pkg/fastforward/fastforward.go
  pkg/release/release.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3466 use the full semver for go1.22
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3467 update image tag for go1.22.0
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3472 Allow in-memory GCB jobs
  gcb/gcb.go
  gcb/gcb_test.go
  gcb/gcbfakes/fake_impl.go
  gcb/impl.go
  pkg/gcp/gcb/gcb.go
Labels: lgtm, cncf-cla: yes, size/XL, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3478 Add `version` subcommand to `release-notes` tool
  cmd/release-notes/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority
