Repository kubernetes/release, pull requests merged in 2024-08, with the labels that each got.

#3700 Allow `-l` alias for `krel` `--log-level` flag
  cmd/krel/cmd/root.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3626 Remove kubeadm >=1.32 dependency from crictl
  cmd/krel/templates/latest/metadata.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3712 Switch to `conntrack-tools` as kubelet dependency for RPM's
  cmd/krel/templates/latest/kubelet/kubelet.spec
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3713 Update golangci-lint to v1.60
  .github/workflows/lint.yml
  .golangci.yml
  dependencies.yaml
  pkg/build/push.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/options/options_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3718 Build krel from sources when not using default `TOOL_*` values
  gcb/fast-forward/cloudbuild.yaml
  gcb/obs-release/cloudbuild.yaml
  gcb/obs-stage/cloudbuild.yaml
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  hack/get-krel
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3724 Build Go 1.22.6
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3722 Remove socat and ebtables dependencies from the kubelet package
  cmd/krel/templates/latest/kubelet/kubelet.spec
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3728 bump distroless-iptables to use go1.22.6
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3730 Makefile: Fix help width and coloring
  Makefile
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3717 Skip release archive
  cmd/krel/cmd/announce_build.go
  cmd/krel/cmd/announce_send.go
  cmd/krel/cmd/sign_blobs.go
  pkg/anago/anago.go
  pkg/anago/anago_test.go
  pkg/anago/anagofakes/fake_release_client.go
  pkg/anago/anagofakes/fake_release_impl.go
  pkg/anago/release.go
  pkg/announce/announce.go
  pkg/announce/impl.go
  pkg/release/archive.go
  pkg/release/archive_test.go
  pkg/release/archive_unit_test.go
  pkg/release/doc.go
  pkg/release/release.go
  pkg/release/releasefakes/fake_archiver_impl.go
Labels: lgtm, cncf-cla: yes, size/XXL, approved, release-note, sig/release, area/release-eng, kind/deprecation, needs-priority

#3732 golang: Build 1.23.0 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3733 Update k8s-cloud-builder and k8s-ci-builder to Go 1.22.6
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3734 Drop Bazel usage
  pkg/build/build_test.go
  pkg/build/push.go
  pkg/gcp/build/build.go
  pkg/release/release.go
  pkg/release/release_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3736 update distroless to use go1.23.0
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority
