Repository kubernetes/release, pull requests merged in 2024-01, with the labels that each got.

#3406 release-notes check subcommand
  cmd/release-notes/check.go
  cmd/release-notes/check_test.go
  cmd/release-notes/generate.go
  cmd/release-notes/main.go
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Labels: lgtm, cncf-cla: yes, size/XL, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3405 Publish the marker inside the fast folder
  go.mod
  go.sum
  pkg/build/ci.go
  pkg/release/images.go
  pkg/release/publish.go
  pkg/release/releasefakes/fake_publisher_client.go
Labels: lgtm, cncf-cla: yes, size/XL, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3408 Use a single const for all valid arches
  pkg/binary/binary.go
  pkg/binary/elf.go
  pkg/binary/mach-o.go
  pkg/binary/windows.go
  pkg/consts/main.go
  pkg/notes/document/document_test.go
  pkg/notes/document/testdata/document.md.golden
  pkg/obs/obs.go
  pkg/obs/specs/archive.go
  pkg/obs/specs/helpers.go
  pkg/obs/specs/pkgdef.go
  pkg/obs/specs/specs.go
  pkg/release/images.go
  pkg/release/release.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/bug, release-note-none, sig/release, area/release-eng, needs-priority

#3413 Build Go 1.21.6 and 1.20.13
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3415 Build k8s-ci-builder and k8s-cloud-bulider with Go 1.21.6 and 1.20.13
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3421 golang: Build 1.22rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3431 lock docker version to v24.0 fro k8s-ci-builder
  images/releng/k8s-ci-builder/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, priority/critical-urgent, release-note-none, sig/release, area/release-eng

#3433 golang: Build 1.22rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3435 rebuild debian-base
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3434 update release-sdk to v0.11.0 and go-github v58
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/sut_test.go
  go.mod
  go.sum
  pkg/anago/stage.go
  pkg/fastforward/fastforward_test.go
  pkg/fastforward/fastforwardfakes/fake_impl.go
  pkg/fastforward/impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
  pkg/notes/options/options_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3437 Add note about glibc compatibility
  .github/ISSUE_TEMPLATE/dep-golang.md
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/documentation, area/release-eng, needs-priority

#3439 add configs for 1.30 with go1.22 for k8s-cloudbuilder
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3440 build distroless-iptables with go1.22rc2
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority
