Repository kubernetes/release, pull requests merged in 2024-03, with the labels that each got.

#3481 krel/templates: remove kubeadm's deps on kubelet and kubectl
  cmd/krel/templates/latest/metadata.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3488 Build Go 1.22.1 and 1.21.8
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3489 bump distroless to use go1.22.1 and go1.21.8
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3495 Build k8s-ci-builder and k8s-cloud-bulider with Go 1.22.1 and 1.21.8
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3502 Update zeitgeist to v0.4.4
  dependencies.yaml
  hack/verify-dependencies.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3503 Update golangci-lint to v1.56.2 and fix lints
  .github/workflows/lint.yml
  .golangci.yml
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/sign_images.go
  dependencies.yaml
  pkg/anago/release.go
  pkg/build/push.go
  pkg/notes/notes.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3505 set custom org and repo for FF cloudbuild job
  gcb/fast-forward/cloudbuild.yaml
  pkg/fastforward/fastforward.go
  pkg/gcp/gcb/gcb.go
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3506 Fix wasted assigns
  .golangci.yml
  cmd/krel/cmd/release_notes.go
  pkg/consts/main.go
  pkg/fastforward/fastforward.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3507 Enable `exportloopref` linter
  .golangci.yml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3508 Fix panic when the `--maps-from` value is smaller than 5 characters
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_map.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3509 Do not exclude mapped notes
  pkg/notes/document/document.go
  pkg/notes/notes.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3514 upgrade to go1.22
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  dependencies.yaml
  go.mod
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3522 rebuild debian-base and tag to bookworm-v1.0.2
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3531 allow api.securityscorecards.dev for dependency review job
  .github/workflows/depsreview.yml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3533 add publish-release to be part of the release job
  .goreleaser.yml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority
