Repository kubernetes/release, pull requests merged in 2025-04, with the labels that each got.

#3974 Include revert PR instead of the reverted one in release notes
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, ok-to-test, area/release-eng, needs-priority

#3953 Add unit tests for the obs.go file.
  pkg/obs/obs_test.go
Labels: lgtm, cncf-cla: yes, size/XL, approved, release-note-none, priority/important-soon, sig/release, kind/cleanup, ok-to-test, area/release-eng

#3971 Retrieve proper author for the automated cherry-pick PRs
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, ok-to-test, area/release-eng, needs-priority

#3984 Bump distroless-iptables to use Go 1.23.8 and 1.24.2
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3986 Update k8s-cloud-builder and k8s-ci-builder to Go 1.24.2
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3988 Update cri-tools README.md
  cmd/krel/templates/latest/cri-tools/README.md
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note, sig/release, kind/documentation, area/release-eng, needs-priority

#3997 bump cosign image to v2.5.0 tag release
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority
