Repository kubernetes/release, pull requests merged in 2025-02, with the labels that each got.

#3902 build kube-cross, go-runner, releng-ci with golang 1.22.11, 1.23.5
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3903 bump distroless-iptables to use go1.22.11 and go1.23.5
  dependencies.yaml
  images/build/distroless-iptables/Makefile
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3905 Replace go-multierror
  go.mod
  pkg/testgrid/testgrid-scraper.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3904 golang: Build 1.24rc2 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3909 Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.5
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3911 golang: Build 1.24rc3 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3912 Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.5/1.22.11
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3913 update cosign image
  dependencies.yaml
  images/build/go-runner/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3915 build kube-cross, go-runner, releng-ci with golang 1.22.12/1.23.6
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3922 Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.6
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3923 Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.6/1.22.12
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3929 build kube-cross go1.23.6 for release 1.30/1.31/1.29
  dependencies.yaml
  images/build/cross/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3931 Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.6 for releases branches 1.29/30/31
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3935 fix array size when creating the assets
  cmd/publish-release/cmd/github.go
  pkg/announce/github/impl.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#3936 use go1.24 and remove deprecated lint
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yaml
  .golangci.yml
  cmd/krel/cmd/sut_test.go
  dependencies.yaml
  pkg/release/release_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3940 Update cosign image and deps
  dependencies.yaml
  go.mod
  go.sum
  images/build/go-runner/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3942 build k8s-cloud-builder and k8s-ci-builder for go1.24
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority
