Repository kubernetes/release, pull requests merged in 2025-01, with the labels that each got.

#3874 add GO_VERSION_TOOLING to be able to build the release tooling with another go version
  dependencies.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/cloudbuild.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3873 Update k8s-cloud-builder and k8s-ci-builder to Go 1.23.4/1.22.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3872 golang: Build 1.24rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3884 build distroless-iptables with go1.24rc1
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#3894 Update golangci-lint and config
  .github/workflows/lint.yml
  .golangci.yml
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root_test.go
  dependencies.yaml
  pkg/binary/binary_test.go
  pkg/binary/binary_unit_test.go
  pkg/notes/document/document_test.go
  pkg/notes/options/options_test.go
  pkg/release/images_test.go
  pkg/release/provenance_test.go
  pkg/release/publish_test.go
  pkg/release/release_test.go
  pkg/release/repository_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority

#3899 Use GitHub release for cri-tools and CNI plugins
  cmd/krel/templates/latest/metadata.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#3900 Update linter configuration
  .golangci.yml
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note-none, sig/release, kind/cleanup, area/release-eng, needs-priority
