Repository kubernetes/release, pull requests merged in 2025-06, with the labels that each got.

#4025 Add unit tests for OBS release.go code
  pkg/obs/release_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, release-note-none, sig/release, kind/cleanup, ok-to-test, area/release-eng, needs-priority

#4033 build kube-cross, go-runner, releng-ci with golang 1.24.4/1.23.10
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#4039 Update k8s-cloud-builder and k8s-ci-builder to Go 1.24.4/1.23.10
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#4041 clean up ci and apply best practices
  .github/workflows/codeql-analysis.yml
  .github/workflows/depsreview.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/scorecards-analysis.yml
  .github/workflows/snapshot.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#4042 golang: Build 1.25rc1 images
  dependencies.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/variants.yaml
  images/releng/ci/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, kind/feature, release-note, sig/release, area/release-eng, needs-priority

#4017 Renamed SIG Node google group
  cmd/krel/templates/latest/cri-tools/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note-none, sig/release, needs-kind, area/release-eng, needs-priority
