Repository kubernetes/release, pull requests merged in 2025-09, with the labels that each got.

#4123 fix duplicate short hand, remove duplicated flags and mark deprecated the create-website-pr
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/generate.go
Labels: lgtm, cncf-cla: yes, size/S, approved, kind/bug, release-note, sig/release, area/release-eng, needs-priority

#4120 rebuild debian-base - bump to bookworm-v1.0.6
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#4131 Bump distroless-iptables to use Go 1.24.7
  dependencies.yaml
  images/build/distroless-iptables/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, kind/feature, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority

#4133 use go1.25 and update golanci-lint
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yaml
  dependencies.yaml
  pkg/notes/notes_gatherer_test.go
  pkg/obs/specs/pkgdef_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, release-note, sig/release, kind/cleanup, area/release-eng, needs-priority
